doctype html
html
  head
    meta(charset="utf-8")
    title ssrql
  body
    script(type='text/javascript').
        window.__store__ = !{JSON.stringify(store)}
    div#root!= root
    script(src="bundle.js")
  